footer{
    padding: 100px 0;
    margin-bottom: 100px;
}

.col {
    height: 200px;
    width: 12%;
    float: left;
    margin-left: 13px;

    ul {
        margin: 15px 0;

        li{
            margin: 10px 0;

            a:hover {
                color: #30488f;
            }
        }
    }
}

.helps{
    width: 33%;

    a{
        color: blue;
        &:hover{
            text-decoration: underline;
            color: #30488F;
            transition: 1s;
        }
    }
}

.helps-img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    float: left;
}

.help-col{
    margin-left: 70px;
    font-size: 18px;
    font-weight: bold;
}

.name-of-list{
    font-size: 18px;
    margin-bottom: 15px;
}
