*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #58402C;
}

.container {
    margin: 0 10%;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

.buttons {
    background-color: #30488F;
    display: flex;
    height: 35px;
    width: 185px;
    border-radius: 5px;
    border: 1px solid #30488F;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    float: left;

    img,
    span {
        align-self: center;
        padding-right: 5px;
        color: white;
    }


}

.buttons:hover{
    background-color: #233669;
}


a {
    text-decoration: none;
    color: #583F2C;
}

a:hover{
    text-decoration: none;
}
