header {
    height: 80px;
    border-bottom: 1px solid #BDB5AF;
}


.header-left,
.header-right{
    height: 80px;
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
}

.header-right {
    flex-direction: row-reverse;
}

.button-navbar{
    color: #30488F;
    background-color: white;

}

.voce-nav,
.tendina{
    color: #58402C;
    font-size: 14px;
    margin: 0 20px;
    font-weight: bold;
}
.menu {
    position: relative;
}

.tendina {
    list-style: none;
    display:none;
    position: absolute;
    left: -30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.menu:hover .tendina{
    display: block;
}
