#jumbo {
    padding-top: 150px;
    background-color: white;
    margin-bottom: 30px;
}

.jumbo-left,
.jumbo-right{
    margin-bottom: 30px;
    width: 49%;
}
.jumbo-left{
    float: left;

    a {
        margin-top: 10px;
        float: left;
    }
}
.jumbo-right{
    float: right;

    img {
        max-width: 570px;
    }
}

h1, h3{
    color: #583F2C;
    margin: 5% 0;
    font-weight: bold;
}

h1 {
    font-size: 50px;
}

h3{
    font-size: 22px;
}
